// ***CUSTOM COLORS***
/* scale from 1 to 4 (1 = very light, 4 = dark) */
$violet1: #F9F1F2;
$violet2: #F2EEF4;
$violet3: #F0EDF5;
$violet4: #55328B;

/* '1' is for very light */
$blue1: #f1f9fb;
$pink1: #faf3e3;